.single-slider .inner-content {
  max-width: 510px;
  position: relative;
  margin: auto;
  z-index: 2;
}
.single-slider .background {
  border-radius: 8px;
  background: #050505;
  box-shadow: 20px 14px 40px 0px rgba(0, 0, 0, 0.08);
  display: flex;
  margin: auto;
  padding: 15px 20px;
  position: relative;
  z-index: 2;
}

.single-slider .inner p {
  color: #fff;
  font-style: normal;
  font-weight: 400;
  font-family: Corsa Grotesk;
  font-size: 10px;
}

.single-slider .inner p.name {
  color: #b9c8f3;
  font-size: 12px;
  font-weight: 700;
}

.single-slider .inner p.name span {
  color: #b9c8f3;
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
  display: block;
}

.single-slider .inner .image img {
  max-width: 130px;
  border-radius: 20px;
  position: relative;
  margin-top: -50px;
}

.single-slider .inner {
  max-width: 890px;
  margin: 0 auto;
  padding: 100px 0px;
}
.single-slider .inner .image {
  padding-right: 30px;
  padding-left: 10px;
}

.single-slider .inner-content:after,
.single-slider .inner-content:before {
  content: "";
  width: 100px;
  height: 120px;
  background-image: url(https://storage.googleapis.com/msgsndr/oDRWqSJiQZ1FYN9v90um/media/64c231d49098e51c003c3237.svg+xml);
  position: absolute;
  right: -27px;
  top: -60px;
  z-index: -1;
  background-size: contain;
  background-repeat: no-repeat;
}

.single-slider .inner-content:before {
  background-image: url(https://storage.googleapis.com/msgsndr/oDRWqSJiQZ1FYN9v90um/media/64c231d49098e53ecd3c3236.svg+xml);
  width: 270px;
  height: 120px;
  top: auto;
  bottom: -20px;
  right: auto;
  left: -20px;
}
.slider,
.slider-wrap {
  position: relative;
}

.slider .slick-dots {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 15px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.slider .slick-dots li {
  display: inline-block;
}

.slider .slick-dots li button {
  background: #d9d9d9;
  font-size: 0px;
  border: 0px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin: 3px;
  opacity: 0.5;
  transition: all 0.3s ease;
}

.slider .slick-dots li.slick-active button {
  opacity: 1;
}
.arrow .tpbtn {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.arrow .tpbtn.next-btn {
  left: auto;
  right: 0;
}

@media screen and (max-width: 767px) {
  .arrow .tpbtn {
    top: auto;
    bottom: 0;
    transform: none;
  }

  .single-slider .background {
    flex-wrap: wrap;
  }

  .single-slider .inner-content:after,
  .single-slider .inner-content:before {
    display: none;
  }

  .single-slider .inner .image {
    padding-bottom: 20px;
    padding-left: 0;
  }

  .single-slider .inner {
    padding: 50px 0px;
  }
}
